/* Created by: Dominic M.
* Created on: February 16, 2023
* This file contains the CSS for index.html
*/
body {
  background-color: rgb(0 0 0);
}

h1 {
  background-color: rgb(255 0 0);
  color: rgb(255 255 100);
  padding: 20px;
  text-align: center;
}

p {
  background-color: rgb(255 150 0);
}